
<a href="#" [routerLink]="['/book']" class="btn btn-success float-right">&laquo; Back </a>
<div>
    <img [src]="baseImagesURL + book.coverImageName" class="img"/>
    <h2>{{book.title}}</h2>
    <h4>{{book.authorName}}</h4>
    <p>{{book.publishedDate | date:'short'}}</p>
    <div class="row"> 
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <a href="#" [routerLink]="['update',book.id]" class="btn btn-primary ">Update</a>
            <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#confirmationModal" >
                Delete
              </button>
        </div>
    </div>
    
</div>

  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Book</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you Sure you Want To delete {{book.title}} book
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" (click)="deleteBook()" data-dismiss="modal">Yes Delete</button>
        </div>
      </div>
    </div>
  </div>