<form [formGroup]="accountForm" (ngSubmit)="createAccount()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1"  formControlName="firstName">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1"  formControlName="lastName">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="confirmPassword">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="#" [routerLink]="['/account/login']"> Already Have Account</a>
<app-external-login></app-external-login>
