<h2> Welcome to Luftborn Task</h2>
<p> This task implementd using the following technology</p>
<ul>
    <li>
        Asp .NET Core API  as a server side
    </li>
    <li>
        Entity Framework v.5.0.13 as a ORM mapper
    </li>
    <li>
        SQL-Server Database as a Storage
    </li>
    <li>
        Angular v.11 as a front end 
    </li>
    <li>
        Google as Identity Provider for SSO 
    </li>
</ul>
<h2>Task Descrption</h2>
<p>
    Task is about Book Store Managment where we implement CRUAD operations
    Create Book , list (Get all) Books, Update Books and Delete books. <br />
    <label class="text-danger">*Note: </label>
    <span > You need to be logged in to access books module</span>
</p>